In [2]:
import pandas as pd

In [2]:
df_amazon = pd.read_csv('./Datasets/amazon_prime_titles.csv')

In [4]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [6]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [8]:
df_amazon.groupby(['type'])['type'].count()

type
Movie      7814
TV Show    1854
Name: type, dtype: int64

In [3]:
df_disney = pd.read_csv('./Datasets/disney_plus_titles.csv')

In [11]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [12]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [18]:
df_disney[(df_disney.type == "TV Show")].groupby(['duration'])['duration'].count()

duration
1 Season      219
10 Seasons      2
16 Seasons      1
19 Seasons      1
2 Seasons      82
3 Seasons      45
32 Seasons      1
4 Seasons      24
5 Seasons      11
6 Seasons       3
7 Seasons       5
8 Seasons       2
9 Seasons       2
Name: duration, dtype: int64

In [4]:
df_hulu = pd.read_csv('./Datasets/hulu_titles.csv')

In [14]:
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [15]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [16]:
df_hulu.groupby(['duration'])['duration'].count()

duration
1 Season      829
1 min           1
10 Seasons     10
100 min        18
101 min        25
             ...
95 min         34
96 min         18
97 min         31
98 min         29
99 min         24
Name: duration, Length: 135, dtype: int64

In [5]:
df_netflix = pd.read_json('./Datasets/netflix_titles.json')

In [20]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [21]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [26]:
df_test = df_netflix.head()

In [28]:
df_test.listed_in

0                                        Documentaries
1      International TV Shows, TV Dramas, TV Mysteries
2    Crime TV Shows, International TV Shows, TV Act...
3                               Docuseries, Reality TV
4    International TV Shows, Romantic TV Shows, TV ...
Name: listed_in, dtype: object

In [16]:
#lista_genero = df_amazon.listed_in.apply(lambda x: x.split(','))
#lista_genero = df_netflix.listed_in.apply(lambda x: x.split(','))
#lista_genero = df_disney.listed_in.apply(lambda x: x.split(','))
lista_genero = df_hulu.listed_in.apply(lambda x: x.split(','))

In [10]:
generos = []

In [17]:
#lista_genero = df_hulu.listed_in.apply(lambda x: x.split(','))
#generos=[]
for genero in lista_genero:
    #print( genero )
    for i in genero:
        elemento = i.strip()
        if elemento not in generos:
            generos.append(elemento)

In [19]:
len(generos)

120

In [84]:
df_disney[(df_disney.duplicated())]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [20]:
actores = []

In [101]:
#df_amazon.info()
#df_disney.info()
#df_hulu.info()
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [6]:
df_amazon.fillna('', inplace=True)
df_disney.fillna('', inplace=True)
df_netflix.fillna('', inplace=True)
df_hulu.fillna('', inplace=True)

In [7]:
df_amazon['plataform'] = 'amazon'
df_netflix['plataform'] = 'netflix'
df_disney['plataform'] = 'disney'
df_hulu['plataform'] = 'hulu'

In [12]:
df_todo = df_amazon.copy()

In [13]:
df_todo.shape

(9668, 13)

In [18]:
#df_todo = df_todo.append(df_amazon, ignore_index=True) no va porque hicimos copia de sede DF
#df_todo = df_todo.append(df_netflix, ignore_index=True)
#df_todo = df_todo.append(df_disney, ignore_index=True)
df_todo = df_todo.append(df_hulu, ignore_index=True)

In [20]:
df_todo.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon

In [25]:
df_todo[(df_todo.type == "Movie")].shape

(16481, 13)

In [26]:
df_test = df_todo.head(20)

In [35]:
int(df_test.loc[0]['duration'].split(' ')[0])

113

In [39]:
#agrego una columna con el valor numero de duration para obtener max y min
#df_test['duration_val'] = df_test['duration'].apply( lambda x: 0 if x == '' else int(x.split(' ')[0]) )
df_todo['duration_val'] = df_todo['duration'].apply( lambda x: 0 if x == '' else int(x.split(' ')[0]) )

In [ ]:
#Máxima duración según tipo de film (película/serie), por plataforma y por año: 
#El request debe ser: get_max_duration(año, plataforma, [min o season])
#get_max_duration(2018, 'hulu', 'min']) =>> "the house that jack built"

In [269]:
anio = 2018
plataform = 'amazon'
p_type = 'seasonn'

if p_type == 'min':
    type = 'Movie'
elif p_type == 'season':
    type = 'TV Show'
else:
    type = ''


df_filtro = df_todo[(df_todo.release_year == anio) & (df_todo.plataform == plataform) & (df_todo.type == type)]
if df_filtro.shape[0] > 0:
    print("si")
    #max_duration = df_todo[(df_todo.release_year == anio) & (df_todo.plataform == plataform) & (df_todo.type == type)].duration_val.max()
    max_duration = df_filtro.duration_val.max()
    print(max_duration)
    #duration_val = 151
    title = df_todo[(df_todo.release_year == anio) & (df_todo.plataform == plataform) & (df_todo.type == type) & (df_todo.duration_val == max_duration)].title.values[0]
    print(title)
else:
    print("Data not found")
#df_todo[(df_todo.release_year == anio) & (df_todo.plataform == plataform) & (df_todo.type == type) & (df_todo.duration_val == max_duration)].title.values[0]

Data not found

In [26]:
df_titles = pd.read_csv('Datasets/titles_todos.csv')

In [ ]:
#Cantidad de películas y series (separado) por plataforma 
#El request debe ser: get_count_plataform(plataforma)
#get_count_plataform('netflix')

In [27]:
plataform = 'netflix'
#df_plataform_count = df_todo[(df_todo.plataform == plataform)].groupby(['type'])['type'].count()
df_plataform_count = df_titles[(df_titles.plataform == plataform.lower() )].type.value_counts()
print(f"Movie: {df_plataform_count['Movie']}")
print(f"TV Show: {df_plataform_count['TV Show']}")

Movie: 6131
TV Show: 2676

In [202]:
df_plataform_count.to_dict()

{'Movie': 6131, 'TV Show': 2676}

In [ ]:
#Cantidad de veces que se repite un género y plataforma con mayor frecuencia del mismo. 
#El request debe ser: get_listedin('genero')
#Como ejemplo de género pueden usar 'comedy', el cuál deberia devolverles un cunt de 2099 para la plataforma de amazon.

In [75]:
data = []
df_gender_title = pd.DataFrame(data, columns=['plataform', 'title', 'gender'])

In [76]:
for i, row in df_todo.iterrows():
    listed_in = row['listed_in']
    lista_genero = listed_in.split(',')
    for genero in lista_genero:
        #print( genero.strip())
        df_gender_title = df_gender_title.append({
            'plataform': row['plataform'],
            'title': row['title'],
            'gender': genero.strip()
        }, ignore_index=True)

In [89]:
#df_gender_title.to_csv('plataform_title_gender.csv')

In [152]:
df_hulu[(df_hulu.title.str.lower() == 'the house that jack built')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform
1542,s1543,Movie,The House That Jack Built,,,"Denmark, France, Sweden, Germany, Belgium, Tun...","July 2, 2020",2018,R,151 min,"Crime, Drama, Horror",Jack is a serial killer who views each murder ...,hulu

In [172]:
#df_hulu[(df_hulu.title.str.lower() == 'the house that jack built')]
gender = 'Horror'
df_1 = df_gender_title[( df_gender_title['gender'].str.lower() == gender.lower() )].groupby(['plataform']).count().sort_values(by=['gender'], ascending=False)

In [170]:
df_1.shape

(0, 2)

In [173]:
if df_1.shape[0] > 0:
    print(f"Plataforma: {df_1.index[0]}" );
    print(f"Cantidad: {df_1.values[0][0]}" );
else:
    print("No hay películas con ese Género")
#df_1.index[0]
#df_1.values[0][0]

Plataforma: amazon
Cantidad: 875

In [ ]:
df_gender_title

In [77]:
df_gender_title.shape

(48303, 3)

In [78]:
df_gender_title.drop_duplicates(inplace=True)

In [ ]:
#Actor que más se repite según plataforma y año. 
#El request debe ser: get_actor(plataforma, año)
#get_actor('netflix',2018)  =>> netflix, 8, andrea libman

In [111]:
data = []
df_cast_title = pd.DataFrame(data, columns=['plataform', 'title', 'year', 'cast'])

In [112]:
for i, row in df_todo.iterrows():
    casts = row['cast']
    lista_casts = casts.split(',')
    for cast in lista_casts:
        df_cast_title = df_cast_title.append({
            'plataform': row['plataform'],
            'title': row['title'],
            'year': row['release_year'],
            'cast': cast.strip()
        }, ignore_index=True)

In [142]:
df_cast_title_1 = df_cast_title[(df_cast_title.cast != '')]

In [143]:
df_cast_title_1.shape

(114389, 4)

In [149]:
#df_cast_title_1.to_csv('plataform_title_cast_1.csv')

In [140]:
df_cast_title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119713 entries, 0 to 119712
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   plataform  119713 non-null  object
 1   title      119713 non-null  object
 2   year       119713 non-null  object
 3   cast       119713 non-null  object
dtypes: object(4)
memory usage: 3.7+ MB

In [145]:
plataform = 'netflix'
year = 2018
df_2 = df_cast_title_1[(df_cast_title_1.plataform == plataform) & (df_cast_title_1.year == year)].groupby(['cast']).count().sort_values(by=['title'],ascending=False)
#df_1 = df_gender_title[( df_gender_title.gender == gender )].groupby(['plataform']).count().sort_values(by=['gender'], ascending=False)

In [146]:
df_2

                     plataform  title  year
cast
Andrea Libman                8      8     8
Radhika Apte                 7      7     7
Tabitha St. Germain          6      6     6
Takahiro Sakurai             6      6     6
Rajesh Kawa                  6      6     6
...                        ...    ...   ...
Henry Turczynowicz           1      1     1
Henry Thomas                 1      1     1
Henry Prince Mak             1      1     1
Henry G. Sanders             1      1     1
Şahin Irmak                  1      1     1

[6678 rows x 3 columns]

In [148]:
print(f"Cast: {df_2.index[0]}" );
print(f"Cantidad: {df_2.values[0][0]}" );

Cast: Andrea Libman
Cantidad: 8

In [114]:
#df_cast_title.to_csv('plataform_title_cast.csv')

In [113]:
df_cast_title.shape

(119713, 4)

In [110]:
df_cast_title

    plataform                 title  year                 cast
0      amazon   The Grand Seduction  2014      Brendan Gleeson
1      amazon   The Grand Seduction  2014        Taylor Kitsch
2      amazon   The Grand Seduction  2014       Gordon Pinsent
3      amazon  Take Care Good Night  2018     Mahesh Manjrekar
4      amazon  Take Care Good Night  2018        Abhay Mahajan
..        ...                   ...   ...                  ...
129    amazon                   Zoe  2018         Miranda Otto
130    amazon                   Zoe  2018        Rashida Jones
131    amazon                   Zoe  2018   Christina Aguilera
132    amazon                   Zoe  2018  Matthew Gray Gubler
133    amazon                   Zoe  2018         Anthony Shim

[134 rows x 4 columns]

In [ ]:
#lista_genero = df_hulu.listed_in.apply(lambda x: x.split(','))
#generos=[]
listed_in = 'Action, Drama, Suspense'
for genero in lista_genero:
    #print( genero )
    for i in genero:
        elemento = i.strip()
        if elemento not in generos:
            generos.append(elemento)

In [61]:
df_test.loc[2]['listed_in']

'Action, Drama, Suspense'

In [19]:
df_todo.shape

(22998, 13)

In [59]:
#df_todo.to_csv('titles_todos.csv')

In [28]:
#casts ... actores

#lista_casts = df_amazon.cast.apply(lambda x: x.split(','))
#lista_casts = df_netflix.cast.apply(lambda x: x.split(','))
lista_casts = df_disney.cast.apply(lambda x: x.split(','))

In [29]:
for actor in lista_casts:
    for i in actor:
        elemento = i.strip()
        if elemento not in actores:
            actores.append(elemento)

In [30]:
len(actores)

62443

In [110]:
test= [s for s in actores if "Jones" in s]

In [ ]:
test

In [43]:
df_test = df_amazon.head(10)

In [154]:
df_test

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
5,s6,Movie,Living With Dinosaurs,Paul Weiland,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",United Kingdom,"March 30, 2021",1989,NaN,52 min,"Fantasy, Kids",The story unfolds in a an English seaside town...
6,s7,Movie,Hired Gun,Fran Strine,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",United States,"March 30, 2021",2017,NaN,98 min,"Documentary, Special Interest","They are the ""First Call, A-list"" musicians, j..."
7,s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,NaN,131 min,Comedy,"This honest, uncompromising comedy chronicles ..."
8,s9,Movie,Global Meltdown,Daniel Gilboy,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",Canada,"March 30, 2021",2017,NaN,87 min,"Action, Science Fiction, Suspense",A helicopter pilot and an environmental scient...
9,s10,Movie,David's Mother,Robert Allan Ackerman,"Kirstie Alley, Sam Waterston, Stockard Channing",United States,"April 1, 2021",1994,NaN,92 min,Drama,Sally Goodson is a devoted mother to her autis...

In [83]:
#dataframe title
data = []
df_titles = pd.DataFrame( data, columns=["id_title", "show_id", "type", "title", "director", "country","date_added","release_year","rating","duration","description"])

In [84]:
#dataframe title carga de datos

plataform = 1 #amazon

for i, row in df_amazon.iterrows():
    if row['title'] not in df_titles.title.values:
        new_id = len(df_titles)+1
        df_titles = df_titles.append({
            'id_title': new_id,
            'show_id': row['show_id'],
            'type': row['type'],
            'title': row['title'],
            'director': row['director'],
            'country': row['country'],
            'date_added': row['date_added'],
            'release_year': row['release_year'],
            'rating': row['rating'],
            'duration': row['duration'],
            'description': row['description']
        }, ignore_index=True)

        #agrego los generos por titulo a la tabla
        lgenero = [ x.strip() for x in row['listed_in'].split(',') ]
        for i in lgenero:
            id_gender = df_gender[(df_gender.gender == i )].id_gender.values[0]
            #print( id_gender )

            df_gender_title = df_gender_title.append({
                'id_gender_title': len(df_gender_title)+1,
                'id_title': new_id,
                'id_gender': id_gender
            }, ignore_index=True)

        #agrego los actores por titulo a la tabla
        lcast = [ x.strip() for x in row['cast'].split(',') ]
        for i in lcast:
            id_cast = df_cast[(df_cast.cast == i )].id_cast.values[0]
            #print( id_gender )

            df_cast_title = df_cast_title.append({
                'id_cast_title': len(df_cast_title)+1,
                'id_title': new_id,
                'id_cast': id_cast
            }, ignore_index=True)

    else:
        #si ya está en la tabla de title, busco el ID
        new_id = df_titles[(df_titles.title == row['title'] )].id_title.values[0]

        
    #df_title_plataform = pd.DataFrame(data, columns=["id_title_pataform", "id_title", "id_plataform"])
    df_title_plataform = df_title_plataform.append({
        'id_title_pataform': len(df_title_plataform)+1,
        'id_title': new_id,
        'id_plataform': plataform
    }, ignore_index=True)

In [168]:
df_test.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [45]:
ungenero = df_test.iloc[2,10]

In [46]:
ungenero

'Action, Drama, Suspense'

In [61]:
id_gender = df_gender[(df_gender.gender =='Suspense')].id_gender.values[0]

In [63]:
id_gender

5

In [47]:
lgenero = [ x.strip() for x in ungenero.split(',') ]

In [48]:
lgenero

['Action', 'Drama', 'Suspense']

In [65]:
lgenero = [ x.strip() for x in ungenero.split(',') ]
for i in lgenero:
    id_gender = df_gender[(df_gender.gender == i )].id_gender.values[0]
    print( id_gender )

4
2
5

In [76]:
df_titles

,id_title,show_id,type,title,director,country,date_added,release_year,rating,duration,description
0,1,s1,Movie,The Grand Seduction,Don McKellar,Canada,"March 30, 2021",2014,NaN,113 min,A small fishing village must procure a local d...
1,2,s2,Movie,Take Care Good Night,Girish Joshi,India,"March 30, 2021",2018,13+,110 min,A Metro Family decides to fight a Cyber Crimin...
2,3,s3,Movie,Secrets of Deception,Josh Webber,United States,"March 30, 2021",2017,NaN,74 min,After a man discovers his wife is cheating on ...
3,4,s4,Movie,Pink: Staying True,Sonia Anderson,United States,"March 30, 2021",2014,NaN,69 min,"Pink breaks the mold once again, bringing her ..."
4,5,s5,Movie,Monster Maker,Giles Foster,United Kingdom,"March 30, 2021",1989,NaN,45 min,Teenage Matt Banting wants to work with a famo...
5,6,s6,Movie,Living With Dinosaurs,Paul Weiland,United Kingdom,"March 30, 2021",1989,NaN,52 min,The story unfolds in a an English seaside town...
6,7,s7,Movie,Hired Gun,Fran Strine,United States,"March 30, 2021",2017,NaN,98 min,"They are the ""First Call, A-list"" musicians, j..."
7,8,s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski",United States,"March 30, 2021",2016,NaN,131 min,"This honest, uncompromising comedy chronicles ..."
8,9,s9,Movie,Global Meltdown,Daniel Gilboy,Canada,"March 30, 2021",2017,NaN,87 min,A helicopter pilot and an environmental scient...
9,10,s10,Movie,David's Mother,Robert Allan Ackerman,United States,"April 1, 2021",1994,NaN,92 min,Sally Goodson is a devoted mother to her autis...

In [89]:
df_netflix.groupby(['type'])['type'].count()
#df_hulu.groupby(['duration'])['duration'].count()

type
Movie      6131
TV Show    2676
Name: type, dtype: int64

In [90]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [94]:
df_hulu[(df_hulu.release_year == 2018) & (df_hulu.type == "Movie")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
57,s58,Movie,BELLATOR MMA: Davis vs. Nemkov,NaN,NaN,NaN,"October 6, 2021",2018,NaN,NaN,Sports,Former BELLATOR MMA champion Phil Davis faces ...
184,s185,Movie,This World Alone,NaN,NaN,NaN,"September 24, 2021",2018,NaN,90 min,"Drama, Science Fiction",After a cataclysmic event leaves the Earth wit...
211,s212,Movie,On Chesil Beach,NaN,NaN,NaN,"September 16, 2021",2018,R,110 min,"Cooking & Food, Drama, Lifestyle & Culture","In 1962, newlyweds Edward and Florence, both i..."
214,s215,Movie,All About Nina,NaN,NaN,NaN,"September 15, 2021",2018,R,101 min,"Comedy, Drama",Just as Nina Geld’s (Mary Elizabeth Winstead) ...
217,s218,Movie,"Gilberto Santa Rosa, 40…y Contando",NaN,NaN,NaN,"September 15, 2021",2018,TV-PG,NaN,"Documentaries, Latino, Music",Salsa legend Gilberto Santa Rosa takes us on a...
...,...,...,...,...,...,...,...,...,...,...,...,...
2504,s2505,Movie,Tiny Shoulders: Rethinking Barbie,NaN,NaN,United States,"April 27, 2018",2018,TV-14,93 min,Documentaries,"In her 59 years, Barbie has become a fashion i..."
2506,s2507,Movie,Mom and Dad,NaN,NaN,NaN,"April 19, 2018",2018,R,83 min,"Horror, Thriller",A teenage girl and her little brother try to s...
2522,s2523,Movie,March of the Penguins 2: The Next Step,NaN,NaN,NaN,"March 23, 2018",2018,NaN,76 min,Documentaries,Filmmaker Luc Jacquet returns to the Antarctic...
2537,s2538,Movie,Indy 500,NaN,NaN,NaN,"March 2, 2018",2018,TV-G,NaN,Sports,Indianapolis 500 On Demand: Relive all of the ...
2539,s2540,Movie,Classic Boxing,NaN,NaN,NaN,"February 28, 2018",2018,TV-PG,NaN,Sports,Sit ringside for hundreds of the most legendar...

In [95]:
df_hulu[(df_hulu.title.str.lower() == 'the house that jack built')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1542,s1543,Movie,The House That Jack Built,NaN,NaN,"Denmark, France, Sweden, Germany, Belgium, Tun...","July 2, 2020",2018,R,151 min,"Crime, Drama, Horror",Jack is a serial killer who views each murder ...

In [174]:
df_gender_title = pd.read_csv('./Datasets/plataform_title_gender.csv')

In [176]:
gender = 'comedy'
df_1 = df_gender_title[( df_gender_title['gender'].str.lower() == gender.lower() )].groupby(['plataform']).count().sort_values(by=['gender'], ascending=False)
if df_1.shape[0] > 0:
    retorno = { 
        'plataform': df_1.index[0],
        'count': df_1.values[0][0]
        }
else:
    retorno = { 
       'plataform': 'Data not found',
       'count': 'n/a'
    }

print(retorno)

{'plataform': 'amazon', 'count': 2099}

In [3]:
df_gender_title = pd.read_csv('./Datasets/plataform_title_gender.csv')

In [8]:
genero = 'comedy'    
#df_1 = df_gender_title[( df_gender_title['gender'].str.lower() == genero.lower() )].groupby(['plataform']).count().sort_values('gender', ascending=False)
df_gender_title[( df_gender_title['gender'].str.lower() == genero.lower() )].plataform.value_counts(sort=True, ascending=False)

amazon    2099
hulu       667
disney     526
Name: plataform, dtype: int64

In [5]:
df_1

           Unnamed: 0  title  gender
plataform
amazon           2099   2099    2099
hulu              667    667     667
disney            526    526     526

In [228]:
df_1 = df_gender_title[( df_gender_title['gender'].str.lower() == genero.lower() )].plataform.value_counts().sort_values(ascending=False) #groupby(['plataform']).count().sort_values('gender', ascending=False)

In [250]:
df_1.iloc[0]

2099

In [239]:
df_1.values[0]

2099

In [251]:
df_2 = df_1.to_dict()

In [252]:
df_2

{'amazon': 2099, 'hulu': 667, 'disney': 526}

In [253]:
df_2[df_1.index[0]]

2099

In [270]:
plataform = 'netflix'
year = 2018
df_2 = df_cast_title_1[(df_cast_title_1.plataform == plataform) & (df_cast_title_1.year == year)].groupby(['cast']).count().sort_values(by=['title'],ascending=False)

In [272]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6678 entries, Andrea Libman to Şahin Irmak
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   plataform  6678 non-null   int64
 1   title      6678 non-null   int64
 2   year       6678 non-null   int64
dtypes: int64(3)
memory usage: 208.7+ KB

In [275]:
df_2.head(1)

               plataform  title  year
cast
Andrea Libman          8      8     8

In [278]:
df_2.head(1).index[0]

'Andrea Libman'

In [281]:
df_2.iloc[0].values[0]

8

In [289]:
df_2.head(1)['year'].to_dict()[df_2.head(1).index[0]]

8

In [9]:
df_titles = pd.read_csv('./Datasets/titles_todos.csv')

In [16]:
plataform = 'netflix'
#df_titles[(df_titles.plataform == plataform.lower() )].groupby(['type'])['type'].count()
dic_count = df_titles[(df_titles.plataform == plataform.lower() )].type.value_counts().to_dict()

In [19]:
dic_count

{'Movie': 6131, 'TV Show': 2676}

In [24]:
dic_retorno = {'plataform': plataform }

In [22]:
dic_retorno.update(dic_count)

In [23]:
dic_retorno

{'plataform': 'netflix', 'Movie': 6131, 'TV Show': 2676}